:root {
  --bg-color: #282c34;
  --bg-accent: #888888;
  --ui-color: #333333;
  --ui-border: #AAAAFF;
  --chat-bg-color: #999999;
  --chat-local-color: #222222;
  --chat-remote-color: #555566;
  --transparent: rgba(0,0,255,0);
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-color);
  margin:0;
  padding:0;
  border:0;
}

* {
  justify-self: stretch;
  color: white;
  list-style-type:none;
  text-decoration: none;
}

.body {
  clear: both;
  margin: 0 auto; 
  width: 1100px;
  padding-bottom:1rem;
}

header {
  position: absolute;
  top: 0;
}

header, footer {
  text-align: center;
  background-color: var(--ui-color);
  width:100%;
}

footer {
  position: absolute;
  bottom: 0;
  min-height: 1rem;
}

.App-header {
  text-align: center;
  background-color: var(--bg-color);
}

.Modes {
  display: flex;
  justify-content: center;
}

nav ul {
  padding-top: 20%;
}

nav li, .button {
  border:2px solid var(--bg-accent);
  width: 275px;
  text-align: center;
}

nav a {
  display: inline-block;
  width:100%;
}

nav li:hover, nav a:hover, .button:hover {
  background-color: var(--bg-accent);
  transition: 0.15s;
}

.Modes .Option {
  margin: 50px;
  /* flex-flow: row wrap;
  width: 275px; */
}

.Modes .Title {

}

.Modes .Description {
  
}

.App-logo {
  min-height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  min-height: 100vh;
  display: grid;
  position: absolute;
  
  font-size: calc(10px + 2vmin);
  grid-template-columns: 25% 20% auto 20% 25%;
  grid-template-rows: 45px 20% auto 30% 60px;

}

.ui {
  background-color: var(--ui-color);
  border-color: var(--ui-border);
  position:absolute;
  z-index:100;
  box-sizing: border-box;
}

.container {
  min-width:200px;
  min-height:100%;
  align-self: stretch;
  justify-self: stretch;
  background-color: var(--transparent);
}

#ModelBaseSelector {
  grid-column: 3/4;
  grid-row: 1/2;
}

#ModelScaleSelector {
  grid-column: 1/3;
  grid-row: 2/4;
}

#ModelPurposeSelector {
  grid-column: 4/-1;
  grid-row: 1/3;
}

#ModelDecimateSelector {
  grid-column: 3/4;
  grid-row: 4/-1;
}

#ResetModelTransformations {
  grid-column: 1/2;
  grid-row: 4/-1;
}

#SaveModelToToybox {
  grid-column: 4/-1;
  grid-row: 4/-1;
}

#Viewport {
  position: relative;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

#Tools {
  margin:20px;
  grid-row-start: 2;
}



#MenuBar {
  grid-column: 0 / 6;
  grid-row: 1 / 2;
  /* position:absolute; */
  display:flex;
  flex-flow: space-between;
  top:0px;
  left:0px;
  right:0px;
}

.title {
  flex-grow: 1;
}

#ThreadId {
  /* position:absolute;
  float:left;
  right:0px; */
  flex-grow: 5;
}

.chatMessage {
  background-color: var(--chat-remote-color);
  text-align: left;
}

.chatMessageRemote {
  min-width:80%;
  padding:10px;
  padding-left:30px;
}

.chatMessageLocal {
  background-color: var(--chat-local-color);
  min-width:80%;
  padding:1px;
  padding-right:30px;
  text-align: right;
}

#ChatBox {
  grid-column: 5 / 6;
  grid-row: 3 / 6;
  position:relative;
  margin:20px;
  border:5px;
  padding:5px;
}

#ChatDisplay {
  background-color: var(--chat-bg-color);
  min-height:75%;
  max-height:75%;
  overflow: scroll;
}

#ChatEntryBox {
  min-width: auto;
  min-height: auto;
}

#InfoBox {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
